@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Poppins:wght@300;400&display=swap");

:root {
  /**
   * colors
   */

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);
  --primary-color: #ff4b2b;
  --hover-color: #eb3223;
  --ternary-color: #bf350fbb;

  /**
   * typography
   */

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /**
   * border-radius
   */

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /**
   * transition 
   */

  --transition-timing: 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* page not found */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover {
  color: white;
  background: black;
  transition: 1000ms;
}

/* header */
.header {
  background-color: white;
  padding: 10px 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.logo-img {
  width: 180px; /* Adjust the logo width as needed */
  height: 20px;
  height: auto;
}

.search-box {
  display: flex;
  flex-basis: 40%;
  margin: 10px 0;
}

.search-box input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
  flex-grow: 1;
  width: 400px;
}

.search-icon {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 3px;
  cursor: pointer;
  color: white;
  /* margin-left: 0px; */
}

.search-icon:hover {
  background-color: var(--hover-color);
}

.search-icon svg {
  height: 16px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  margin-left: 15px; /* Increase the gap between icons */
  font-size: 30px; /* Increase the size of icons */
  position: relative;
  cursor: pointer;
}

.icon-navlink {
  color: inherit;
  text-decoration: none;
}

.count-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: red;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
}

/* #eb3223 */

.active {
  border-bottom: 2px solid var(--primary-color);
}

/* Media Queries */
@media screen and (max-width: 992px) {
  .search-box {
    flex-basis: 30%;
  }

  .header {
    padding: 10px 50px;
  }

  .logo {
    margin-right: 5px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
  }

  .logo {
    margin-right: 20px;
  }

  .search-box {
    display: none;
  }

  .icons {
    margin-top: 0;
  }

  .icon {
    margin-left: 10px;
  }
}
/* footer */
.footer {
  color: white;
  padding: 25px;
  background: var(--ternary-color);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* login */
h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 15px;
}

.social,
.forgot-password {
  color: inherit;
  text-decoration: none;
}

.forgot-password {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-container link {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.form-container button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.form-container button:hover {
  background-color: var(--hover-color);
}

.form-container button:active {
  transform: scale(0.95);
}

.form-container button:focus {
  outline: none;
}

.form-container button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.form-container input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin-top: 100px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.signup-link {
  color: inherit;
  text-decoration: none;
}

.signup-link:hover {
  color: #ff4b2b;
}

.forgot-password:hover {
  color: var(--primary-color);
}

/* category */

.category {
}

.category-section {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  background: var(--ternary-color);
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.category-items {
  list-style-type: none;
  cursor: pointer;
}

.category-items:hover {
  border-bottom: 2px solid #ffefba;
}

/* Option Lists and Links */
.options-list {
  position: absolute;
  top: 100%;
  right: -72px;
  width: 100px;
  font-size: 15px;
  /* display: none; */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px 0;
}

.options-list li {
  list-style: none;
}

.option-link {
  display: block;
  padding: 8px 16px;
  color: #0b0a0a;
  text-decoration: none;
}

.option-link:hover {
  background-color: #f9f9f9;
  border-bottom: 2px solid var(--primary-color);
}

/* image button */

.image-container {
  width: 250px; /* Set the width of the container */
  height: 150px; /* Set the height of the container */
  overflow: hidden; /* Hide any overflow of the image */
  position: relative; /* Establish a positioning context for absolute positioning */
}

.image-container img {
  width: 100%; /* Make the image take up the entire width of the container */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  display: block; /* Remove any default spacing below the image */
  position: absolute; /* Position the image within the container */
  top: 0; /* Position the image at the top */
  left: 0; /* Position the image at the left */
  object-fit: cover; /* Scale the image to cover the container while maintaining aspect ratio */
  object-position: center; /* Center the image within the container */
}

/* product link */

.product-link {
  text-decoration: none;
  color: #0b0a0a;
  cursor: pointer;
}

/* product card */
.card-container {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 50px;
}

.price-heading {
  border-bottom: 2px solid var(--primary-color);
}

.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-button button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.filter-button button:hover {
  background-color: var(--hover-color);
}

.product-card-body {
  display: block;
  width: 100%;
  text-decoration: none;
}

.product-card-img {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-img-top {
  vertical-align: middle;
  border-style: none;
}

.product-card-details {
  padding: 10px;
}

.product-card-details-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-name {
  font-size: 1em;
  color: #212121;
  font-weight: 700;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}

.product-price {
  font-size: 1em;
  color: var(--primary-color);
  font-weight: 700;
  padding-left: 5px;
  margin-bottom: 5px;
}

.product-address {
  font-size: 1em;
  font-weight: 400;
  color: 666;
  margin-bottom: 5px;
  margin-left: 10px;
}
